[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
numpy = "*"
pandas = "*"
keras = "*"
h5py = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
